<nav class="navbar">
  <div class="menuHamburguerBox">
    <span class="menuHamburguerTopLine"></span>
    <span class="menuHamburguerMiddleLine"></span>
    <span class="menuHamburguerBottomLine"></span>
  </div>
  <img src="../img/Logos Academy One/logo-academy-one-branco.png" alt="Logo do Academy One">
  <section class="navbar_navigationLinksBox">
    <a href="./index.php" class="navbar_navigationLink">
      <p>Home</p>
    </a>
    <a href="./about.php" class="navbar_navigationLink">
      <p>Sobre</p>
    </a>
    <!-- <a href="./profile.php" class="navbar_navigationLink">
      <p>Seu Perfil</p>
    </a> -->
    <a href="./epps.php" class="navbar_navigationLink">
      <p>Mesas</p>
    </a>
    <a href="./contact.php" class="navbar_navigationLink">
      <p>Contato</p>
    </a>
  </section>
</nav>