// default colors
$black: #070C0D;
$white: #F6F6F6;

// blue palette 
$blue_first: #1D267D;
$blue_second: #4276BD;
$blue_third: #35BEF0;
$blue_fourth: #4AD4CD;
$blue_fifth: #E0F3F1;

// green palette
$green_first: #64FF1C;
$green_second: #06BD21;
$green_third: #03A64A;
$green_fourth: #06BD89;
$green_fifth: #05B3B2;

// orange palette
$orange_first: #FFDB06;
$orange_second: #DBB132;
$orange_third: #F2B544;
$orange_fourth: #DB8D32;
$orange_fifth: #F98439;

// purple palette
$purple_first: #BE53FF;
$purple_second: #7347D6;
$purple_third: #4D49BF;
$purple_fourth: #4768D6;
$purple_fifth: #4387CC;

// light blue palette
$light-blue_first: #4A7FFF;
$light-blue_second: #439EE8;
$light-blue_third: #57E0FF;
$light-blue_fourth: #43E8DA;
$light-blue_fifth: #4AFFBC;